<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - Localbooru</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/static/default.css" title="default">
	<link rel="SHORTCUT ICON" href="/static/icons/favicon.png">
	<script src="static/complete.js"></script>
	<script>
		window.onload=function() {autocomplete(document.getElementById("tags"), '/complete/?tag=')};
		function addTag(e) {
			var searchinput = document.getElementById("tags")
			if(!e || !searchinput) {
				return false;
			}
			var tagname = e.parentElement.lastElementChild.previousElementSibling.text;
			if (e.text == "-") {
				searchinput.value = searchinput.value + ' -' + tagname;
			} else {
				searchinput.value = searchinput.value + ' ' + tagname;
			}
		}
	</script> 
</head>
<body>
	<div class="header center">
		<h2 class="siteName"><a href="/">localbooru</a></h2>
		<ul class="flat-list" id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/ls">Posts</a></li>
		</ul>
	</div>
			
	<div id="long-notice"></div>
	<div id="notice" style="display: none;"></div>
	<div class="tips">Remember when I said expect broken hard drives, well that's what happened. Site stability is still in question...</div>
	
	<div id="content">
		{% block content %}{% endblock %}
	</div>

</body>
</html>
