<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<link rel="SHORTCUT ICON" href="static/icons/favicon.png">
		<title>Localbooru</title>
		<link rel="stylesheet" type="text/css" media="screen" href="static/default.css" title="default">
		<script src="static/complete.js"></script>
		<script>
			window.onload=function() {autocomplete(document.getElementById("tags"), '/complete/?tag=')};
		</script> 
	</head>
	<body style="font-size: 80%;">
		<br><br><br>
		<div id="static-index">
			<h1 style="font-size: 4em; margin-top: 1em;"><a href="/">Localbooru</a></h1>
				<div id="links">
					<a href="/ls" title="A paginated list of every post">Posts</a>
					<a href="/queue">Queue</a>
					<a href="/logout">Logout</a>
				</div>
				<form action="/ls/" method="get" autocomplete="off" id="searchform">
					<div style="text-align:center">
						<div class="autocomplete">
						<input id="tags" name="search" size="38" type="text"><br>
						</div>
						<input name="commit" value="Search" type="submit">
					</div>
				</form>
				<div style="font-size: 80%; margin-bottom: 2em;">
					<p>Serving {{postcount}} posts - Running Localbooru alpha {{version}}</p><br>
					{% for n in postcount %}
					<img src="static/counter{% if animated %}_animated{% endif %}/{{n}}.gif" alt="{{n}}" border="0">
					{% endfor %}
					<br>
				</div>
				<br><br><br><br>
				<div style="width: 100%; border-top: 1px solid #7aa5d6; text-align: center;0"></div>
			</div>
	</body>
</html>
