{% extends "base.html" %}
{% block content %}
<div id="post-list">
    <div class="sidebar">
        <div style="margin-bottom: 1em;">
            <h5>Search</h5>
            <form action="index.php?page=search" method="post">
                <div>
                    <input id="tags" name="tags" style="width: 142px;" type="text">
                    <br>
                    <input name="commit" style="margin-top: 3px; background: #fff; border: 1px solid #dadada; width: 154px;" value="Search" type="submit">
                </div>
            </form>
            <small>(Supports wildcard *)</small>
        </div>
        <div id="blacklisted-sidebar" style="display: none;">
            <h5>
        <a href="#" onclick="showHideIgnored('0','pi'); return false;">Hidden</a>
        <span id="blacklist-count" class="post-count"></span>
      </h5>
        </div>
        <div>
            <h5>Tags</h5>

            <ul id="tag-sidebar">
			{% for tag in taglist %}
                <li class="tag-type-{{tag.type}}"><a href="#" onclick="document.location={{tag.addurl|e}}'; return false;">+</a>
                    <a href="#" onclick="document.location='{{tag.removeurl|e}}'; return false;">-</a>
                    <a href="{{tag.searchurl|e}}">{{tag.name}}</a> <span style="color: #a0a0a0;">{{tag.count}}</span>
                </li>
            {% endfor %}
                <li>
                    <br>
                    <br>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <br>
        <br>
        <div>
		{% for post in postlist %}
			<span id="s{{post.id}}" class="thumb"><a id="p{{post.id}}" href="{{post.viewurl}}"><img src="{{post.thumburl}}" alt="{{post.tags|e}}" title="{{post.tags|e}}" class="preview " border="0"></a></span>
		{% endfor %}
        </div>
        <br>
        <br>
        <div id="paginator">
            <div class="pagination">
				{% if paginator.current > 1 %}
					<a href="{{paginator.firsturl}}" name="first_page">&lt;&lt;</a> <a href="{{paginator.backurl}}" name="back">&lt;</a>
				{% endif %}
				{% for page in pagelist %}
					{% if page.number == paginator.current %}
						<span class="current">{{page.number}}</span>
					{% else %}
						<a href="{{page.url}}">{{page.number}}</a>
					{% endif %}
				{% endfor %}
				{% if paginator.current < paginator.total %}
					<a href="{{paginator.nexturl}}" name="next">&gt;</a> <a href="{{paginator.lasturl}}" name="last_page">&gt;&gt;</a>
				{% endif %}
			</div>
		</div>
{% endblock %}
{% block title %}{{title}}{% endblock %}
