{% extends "base.html" %}
{% block content %}
<div id="post-{{view_type}}">
    <div class="sidebar">
        <div style="margin-bottom: 1em;">
            <h5>Search</h5>
            <form action="/ls/" method="get" autocomplete="off"  id="searchform">
					<div class="autocomplete">
                    <input id="tags" name="search" style="width: 142px;" type="text" value="{{searchbar|e}}">
                    </div>
                    <br>
                    <input name="commit" style="margin-top: 3px; background: #fff; border: 1px solid #dadada; width: 154px;" value="Search" type="submit">
            </form>
        </div>
        <div id="blacklisted-sidebar" style="display: none;">
            <h5>
        <a href="#" onclick="showHideIgnored('0','pi'); return false;">Hidden</a>
        <span id="blacklist-count" class="post-count"></span>
      </h5>
        </div>
        <div>
            <h5>Tags</h5>

            <ul id="tag-sidebar">
			{% for tag in taglist %}
                <li class="tag-type-{{tag.type}}"><a href="#" onclick="document.location={{tag.addurl|e}}'; return false;">+</a>
                    <a href="#" onclick="document.location='{{tag.removeurl|e}}'; return false;">-</a>
                    <a href="{{tag.searchurl|e}}">{{tag.name}}</a> <span style="color: #a0a0a0;">{{tag.count}}</span>
                </li>
            {% endfor %}
                <li>
                    <br>
                    <br>
                </li>
            </ul>
        </div>
        <div id="stats">
        {% for stats in statslist %}
			<h5>{{stats.title}}</h5>
			<ul>
			{% for stat in stats.content %}
				{% if stat.url %}
					<li><a href="{{stat.href}}" onclick="{{stat.onclick}}">{{stat.text}}</a></li>
				{% else %}
					<li>{{stat.text}}</li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endfor %}
		</div>
    </div>
    <div class="content">
		{% block innercontent %}{% endblock %}
	</div>
{% endblock %}
{% block title %}{{title}}{% endblock %}
