{% extends "tagbase.html" %}
{% block innercontent %}
            <br>
            <br>
            <div>
                <div id="note-container">
                </div>
                {% if video %}
					<video controls autoplay muted loop>
						<source src="{{img.url}}" type="video/mp4">
						{{img.tags}}
					</video>
                {% else %}
					<img alt="{{img.tags}}" src="{{img.url}}" id="image">
				{% endif %}
                <br>
                <div style="margin-bottom: 1em;">
                    <p id="note-count"></p>
                </div>
            <div>
{% endblock %}
{% block title %}{{title}}{% endblock %}
